[submodule "lib/ArduinoJson"]
	path = lib/ArduinoJson
	url = git@github.com:bblanchon/ArduinoJson.git
[submodule "lib/ESPAsyncUDP"]
	path = lib/ESPAsyncUDP
	url = git@github.com:me-no-dev/ESPAsyncUDP.git
[submodule "lib/mDNSResolver"]
	path = lib/mDNSResolver
	url = git@github.com:madpilot/mDNSResolver.git
[submodule "lib/pubsubclient"]
	path = lib/pubsubclient
	url = git@github.com:jonatanolofsson/pubsubclient.git
[submodule "lib/ESPAsyncTCP"]
	path = lib/ESPAsyncTCP
	url = git@github.com:me-no-dev/ESPAsyncTCP.git
[submodule "lib/WiFiManager"]
	path = lib/WiFiManager
	url = git@github.com:tzapu/WiFiManager.git
[submodule "lib/ESPAsyncWebServer"]
	path = lib/ESPAsyncWebServer
	url = git@github.com:me-no-dev/ESPAsyncWebServer.git
[submodule "lib/Arduino"]
	path = lib/Arduino
	url = git@github.com:jonatanolofsson/Arduino.git
